* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 0.4rem rgb(101, 226, 217, 0.6);
}
